# Packages
*.egg
*.egg-info
dist
build
.eggs
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# macOS metadata
.DS_Store

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore python cache files
__pycache__/
.pytest_cache/

# Temporary files
tmp/

# Personal files
scripts/

# Project files
models/
reports/
/models
local-dvc-storage/
metrics/

# MLFlow local data (SQLite DB + cache)
mlflow_data/
mlruns/

# Data files
data/interim/
data/processed/
#data/raw/

# DVC caches ignored by DVC
#.dvc/
.dvcignore
.dvc/tmp/
.dvc/cache/

# IDEs
.vscode/
.idea/
*.pyc
*.pyo

# Logs
*.log
logs/

