# macOS metadata
.DS_Store

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore python cache files
__pycache__/

# Temporary files
tmp/

# Project files
models/
reports/figures/

# Data files
data/interim/
data/processed/

# DVC caches ignored by DVC
/models