# macOS metadata
.DS_Store

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore python cache files
__pycache__/
.pytest_cache/

# Temporary files
tmp/

# Project files
models/
reports/
/models
local-dvc-storage/
metrics/

# Data files
data/interim/
data/processed/
data/raw/

# DVC caches ignored by DVC
#.dvc/
.dvcignore
.dvc/tmp/
.dvc/cache/

# IDEs
.vscode/
.idea/
*.pyc
*.pyo

